body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial;
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --brown: #3c1f0a;
    --darkBrown: #b15e23;
    --lightBrown: #d5a17c;
    --gray: #656565;
    --margins: 22%;
}

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 960px;
    margin: 0 calc(var(--margins));
}

header,
footer {
    background-image: url("./footer_bg.gif");
}

.title {
    color: var(--darkBrown);
}

p {
    font-size: 12px;
    line-height: 18px;
    color: var(--gray);
    text-align: justify;
}

.header-title {
    font-family: Helvetica;
    padding: 40px 0 60px;
}

.header-title span {
    font-size: 64px;
    color: white;
    display: block;
}

.header-title a {
    text-transform: capitalize;
    font-style: italic;
    color: var(--lightBrown);
}

.header-nav {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-transform: capitalize;
    padding: 3px 0;
}

.header-nav a:hover::after {
    display: block;
}

.header-nav li {
    text-align: center;
}

.header-nav a::after {
    display: none;
    content: "";
    position: absolute;
    border-top: 10px solid var(--gray);
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    bottom: -26px;
    right: 50%;
    transform: translateX(50%);
    opacity: 0.3;
}

.header-nav a {
    position: relative;
    font-size: 14px;
    color: white;
}

#about {
    padding: 20px 0 70px;
    background: linear-gradient(0deg, rgb(233, 233, 233), white 40%);
}

.lectures-content {
    padding: 10px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.main-content {
    margin-left: var(--margins);
    flex: 6;
}

aside {
    display: block;
    padding: 20px var(--margins) 0 30px;
    background: linear-gradient(45deg, rgb(233, 233, 233), white 90%);
}

.lectures-item {
    padding: 10px 0;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}

.lectures-item img {
    height: 60%;
    width: 60%;
    margin-right: 10px;
}

.lectures-item a {
    display: block;
    font-weight: 600;
    font-size: 18px;
    color: var(--brown);
    border-bottom: 1px dotted var(--darkBrown);
    padding-bottom: 10px;
}

#lectures {
    padding-top: 20px;
    width: 100%;
}

table {
    margin: 10px 0 30px 0;
    border: 4px solid black;
    color: var(--gray);
}

th {
    background-color: var(--lightBrown);
    border: black;
    border-width: 3px;
    border-style: dotted solid solid dotted;
    padding: 0 15px;
}

.results-student th {
    color: black;
    border-top: 2px solid black;
    border-bottom: 1px solid var(--gray);
    border-right: none;
    border-left: none;
    background-color: transparent;
    font-weight: 400;
}

#excersices .title {
    padding-bottom: 10px;
}

.excersices-item a {
    padding: 20px 0 5px 0;
    display: block;
    font-weight: 600;
    color: var(--brown);
}

.excersices-item img {
    width: 55px;
    margin-right: 20px;
    display: block;
}

.excersices-item p {
    margin: 0;
    padding-bottom: 10px;
}

.excersices-item-content {
    display: flex;
    align-items: center;
}

.excersices-item {
    border-bottom: 1px dotted var(--darkBrown);
}

#excersices {
    flex: 4;
    padding-bottom: 20px;
    margin-left: 20px;
}

footer {
    padding: 15px 0;
}

footer>.wrapper {
    margin: 0px 0px 0px var(--margins);
    display: flex;
}

footer aside {
    margin-right: var(--margins);
}

footer .title {
    color: white;
}

footer dl {
    width: 29%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer dt {
    color: white;
}

footer dd {
    color: var(--lightBrown);
    white-space: nowrap;
}

#subjects a {
    color: var(--lightBrown);
    padding-left: 15px;
    position: relative;
}

#subjects li {
    margin: 10px 0 10px 20px;
}

#subjects a::before {
    content: url("./footer_list_bullet.gif");
    width: 35px;
    height: 35px;
    position: absolute;
    left: 0;
    top: 0;
}